body {
    margin: 0;
    padding: 0;
    overflow: auto;
}

section {
    font-family: "Reddit Mono", monospace;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 50px;
}

.protected {
    border-left: 2px solid gray;
    border-radius: 4px;
    padding: 8px;
    background-color:cornsilk  ;
    color: darkslategray;
    font-weight: 400;
    font-style: italic;
}

.code_section {
    background-color: gainsboro;
    border-radius: 2px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 13px;
    padding: 2px;   
}
