@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

body {
    margin: 0;
    padding: 0;
    overflow: auto;
}

header {
    font-family: 'Roboto Mono', monospace;
    font-size: 20px;
}

.hell-bar > li {
    display: inline;
    margin-left: 30%;
}

.color-check {
    background-color: rgb(187, 232, 181, 0.5);
}

li {
    cursor: pointer;
}

.specify-topic {
    font-size: 18px;
    font-weight: bold;
    color: rgb(67, 87, 71, 1.0);
    text-decoration: none;
}

.specify-topic:hover {
    text-decoration: underline;
}

.main-content > div {
    margin-left: 15%;
    margin-right: 5%;
    margin-top: 40px;
}

.describe-text {
    font-style: italic;
    color: gray;
}

.index {
    margin: auto;
    width: 50%;
    border: 1px solid black;
    border-radius: 5px;
}

.default-index > li {
    list-style-type: circle;
    line-height: 1.4em;
    border-radius: 3px;
    width: fit-content;
    padding: 1px;
}

.default-index > li:hover {
    text-decoration: underline;
}

.foo {
    position: fixed;
    width: 100%;
    background-color: #333;
    opacity: 0.5;
    color: white;
    text-align: center;
    bottom: 0;
}


