@import url("https://fonts.googleapis.com/css?family=Open+Sans:700");

* {
    background: #494d5f;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

header {
    margin-top: 6px;
    width: 100%;
    font-size: 17px;
    display: inline-flex;
    font-family: "Open Sans", sans-serif;
    border-bottom: 0.3mm dashed gray;
}

.navbar {
    font-style: normal;
    display: inline-flex;
    width: auto;
    margin-left: 300px;
}

.label strong {
    color: azure;
}

.label strong:hover {
    color: gray;
}

.navbar ul li {
    margin: -13px 40px 0 0;
    width: auto;
    display: inline;
    float: left;
    font-size: 15px;
}


ul li:hover {
    text-decoration: underline;
    text-decoration: color(255, 255, 255, 1);
}

ul a {
    color: azure;
}


.creator {
    font-family: "Open Sans", sans-serif;
    display: inline-block;
    margin-left: 300px;
    position: static;
}

.makeCirc {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.creator h3 {
    margin-left: 27px;

}

.creator ul {
    margin: 30px 0 0 -40px;
}

.creator li {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 15px;
    font-size: 15px;
}

.creator li:hover {
    text-decoration: underline;
    cursor: pointer;
}

img{
    margin-top: 50px;
}

.creator span {
    margin-left: 12px;
}

i {
    font-size: 0.9rem;
  }

article {
    border-left: 0.3mm dashed gray;
}