@import url("https://fonts.googleapis.com/css?family=Open+Sans:700");

* {
    background: #232d3f;
    overflow:auto;
}

header {
    margin-top: 6px;
    font-size: 17px;
    font-family: "Open Sans", sans-serif;
    border-bottom: 0.3mm solid gray;
}

.navbar {
    font-style: normal;
    overflow: hidden;
}

.navbar a {
    float: left;
    text-align: center;
    width: 30%;
}

.navbar-right {
    display: inline-flex;
    float: right;
    text-align: center;
    width: 25%;
}

.navbar-right span {
    color: azure;
}

.navbar-right span:hover{
    text-decoration: 1px solid underline;
}

.navbar strong:hover {
    color: gray;
}

ul li:hover {
    text-decoration: underline;
}

.creator {
    font-family: "Open Sans", sans-serif;
    width: auto;
    align-items: center;
    display: inline-block;
    position: fixed;
    width: 30%;
}

.user {
    width: 100%;
    margin-top: 40px;
}

.user h3 {
    text-align: center;
}

.creator i{
    color: #a7bcb9;
}

.creator ul {
    width: 66%;
    text-align: left;
    margin-left: 35%;
    margin-right: auto;
}

.creator ul a {
    color: #a7bcb9;
}

.creator a:hover {
    text-decoration: azure;
}

#creator-list :hover {
    color: #a7bcb9;
}

.makeCirc {
    overflow: hidden;
    border-radius: 50%;
    margin-right: auto;
    margin-left: 41%;
}

.creator li {
    margin-top: 12px;
}


.creator a:hover {
    cursor: pointer;
}


.creator span {
    margin-left: 12px;
}

i {
    position: relative;
}

section {
    width: 50%;
    margin-left: 35%;
    margin-right: auto;
}

article {
    overflow: hidden;
    display: inline-block;
    font-family: monospace;
    width: 98%;
    margin-right: auto;
    margin-left: auto;
    border: 0.5mm dotted azure;
    border-radius: 5px;
    padding: 10px;
}

article::after:first-of-type {
}

section h2 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: azure;
    border-bottom: 0.5mm dashed gray;
    text-align: center;
}

.topic-header a{
    font-size: 20px;
    color: aquamarine;
    text-decoration: 2px solid underline;
    text-align: center;
}

.topic-header a:hover {
    color: aqua;
    text-decoration-color: aqua;
    text-indent: 0.1rem;
}

.predesc{
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    color: azure;
    margin-top: -20px;
}

.post-information {
    color: gray;
    display: flex;
}

.post-information span {
    margin-left: 8px;
}

.date {
    width: 78%;
    text-align: right;
}

.date span {
    font-size: 15px;
}

.read-time span {
    font-size: 15px
}

.date div span::after {
    margin-left: 5px;
}

footer {
    width: 100vw;
    height: auto;
    position:fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background: #4E6E81;
    color: #fff;
    padding-top: 50px;
}