@import url("https://fonts.googleapis.com/css?family=Open+Sans:700");

* {
    background: #232d3f;
    overflow: auto;
}





header {
    border-bottom: 0.3mm solid gray;
    font-family: "Open Sans", sans-serif;
    font-size: 22px;
}

a {
    position: relative;
    color: #000;
    text-decoration: none;
}
.navbar {
    overflow: hidden;
}

.navbar a {
    float: left;
    text-align: center;
    width: 30%;
}

.navbar a:hover {
    color: gray;
}

.navbar-right {

    float: right;
    text-align: right;
    width: 35%;
}

.navbar strong:hover {
    color: gray;
}

.navbar-right span{
    color: azure;
}

.navbar-right span:hover {
    color: rgb(206, 203, 203);
}



#creator-list a::after {
    content: "";
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #7CB9E8;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

.navbar-right span::after {
    content: "";
    display: block;
    width: 100%;
    height: 1.5px;
    bottom: 0;
    left: 0;
    background-color: #7CB9E8;
    transform: scaleX(0);
    transition: transform 0.5s ease;
}

.navbar-right span:hover::after,
#creator-list a:hover::after{
    transform: scaleX(1);
}

 i {
    color: #a7bcb9;
}


article {
    text-align: left;
    border: 0.7px dotted #4E6E81;
    overflow: visible;
    display: inline-block;
    margin-top: 20px;
    padding: 25px;
    border-radius: 8px;
}

.breadcrumbs {
    width: 100%;
    font-size: 15px;
}

.breadcrumbs i {
    font-size: 13px;
}

.breadcrumbs li{
    color: azure;
    display: inline;
}

.breadcrumbs li a {
    color: azure;
}

.breadcrumbs li a:hover {
    text-decoration: underline;
}


.breadcrumbs li::after {
    content: " >";
}


.topic-header {
    font-size: 25px;
    color: aquamarine;
    text-decoration: 2px solid underline;
    text-align: left;
    border-top: 0.5px dotted #4E6E81;
    margin-left: 5px;
}


.post-information {
    color: #fff;
    display: inline-flex;
}


.date {
    text-align: center;
}

.sumconc,
.content {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-left: 20px;
    color: bisque;
}

.sumconc p {
    font-size: 18px;
    text-indent: 35px;
    line-height: 1.5;
}

.content {
    color: azure;
    margin-left: 20px;

}

.content p {
    font-size: 18px;
    text-indent: 35px;
    line-height: 1.5;
}

.center
{
    object-fit: contain;
    display: block;
}


.content img {
    object-fit: contain;
    margin: auto;
    margin-top: 20px;
}

.content p span {
    color: #232d3f;
    margin-left: 10px;
}

